<ion-menu menuId="menu2" side="start" contentId="main-content">
  
  <ion-content class="content-menu">
    <ion-list>
      <ion-item>
        <ion-img src="assets/image/uets.png" class="image-menu"></ion-img>
      </ion-item>
      <ion-item routerLink="/tabs/tab1">Inicio</ion-item>
      <ion-item routerLink="/tabs/tab2">Horario</ion-item>
      <ion-item routerLink="/tabs/tab3">Calificaciones</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-content>

  <ion-header>
    <ion-toolbar style="--ion-background-color: var(--ion-color-mi-color-personalizado);">


      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <span id="tittle-text">Inicio</span>
      </ion-buttons>

      <ion-buttons slot="end"> <!-- Botones alineados a la derecha -->
        <ion-button size="large" id="mg-button" fill="clear">
          <ion-icon slot="icon-only" name="mail-unread-outline"></ion-icon>
        </ion-button>
        <ion-button id="w-button" fill="clear">
          <ion-icon size="large" slot="icon-only" name="warning-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>





  <ion-content>
    <div class="aporte">
      <ion-label class="ion-text-start">Evaluación</ion-label>
      <ion-list slot="end">
        <ion-item>
          <ion-select aria-label="Fruit" interface="popover" placeholder="Seleccionar aporte">
            <ion-select-option value="Aporte 1">Aporte 1</ion-select-option>
            <ion-select-option value="Aporte 2">Aporte 2</ion-select-option>
            <ion-select-option value="Aporte 3">Aporte 3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label class="ion-text-start">{{item.text}}</ion-label>
        <ion-button slot="end" fill="clear" (click)="onButtonClick(item)">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    




  </ion-content>